# This is a basic workflow to help you get started with Actions

name: airspeed-velocity

env:
  IRIS_TEST_DATA_REF: 2.0.0  


# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ asv-actions-wflow ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Cache
        uses: actions/cache@v2.1.4
        with:
          path: $HOME/env
          key: iris-${{ runner.os }}-${{ hashFiles('requirements/ci/py*.yml') }}

      - name: Cache iris test data
        uses: actions/cache@v2.1.4
        with:
          path: $HOME/data
          key: iris-${{ runner.os }}-${IRIS_TEST_DATA_REF}

      - name: Get iris test data
        if: steps.cache-iris-test-data.outputs.cache-hit != 'true'
        run: |
          wget --quiet https://github.com/SciTools/iris-test-data/archive/v${IRIS_TEST_DATA_REF}.zip -O iris-test-data.zip
          unzip -q iris-test-data.zip
          mv iris-test-data-$(echo "${IRIS_TEST_DATA_REF}" | sed "s/^v//") $HOME/data

      # Runs a single command using the runners shell
      - name: create conda environment
        run: |
          conda env create --quiet -p $HOME/env --file=requirements/ci/py37.yml
          
      - name: install iris and asv
        run: |
          source $CONDA/bin/activate $HOME/env
          pip install -e .
          pip install asv
          
#       - name: Run airspeed velocity
#         env:
#           OVERRIDE_TEST_DATA_REPOSITORY: $HOME/data/test_data
#         run: |
#           source $CONDA/bin/activate $HOME/env
#           asv run

#       - name: Archive asv results
#         uses: actions/upload-artifact@v2
#         with:
#           name: asv-report
#           path: .asv
